{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-9">{% block sidecontent %}{% endblock %}</div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">Субреддиты</div>
            <div class="panel-body">
                <ul>
                    <li>тест1</li>
                    <li>тест2</li>
                </ul>
                <a href="{% url 'create_thread' %}" class="btn btn-default">Создать тред</a><br><br>
                <a href="#" class="btn btn-default">Создать субреддит</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
