{% load bootstrap_themes %}

<!doctype html>
<html>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <title>
                {% block title %}
                {% endblock %}
            </title>
            {% bootstrap_styles theme='default' type='css' %}
            {% bootstrap_script use_min=False %}
        </head>
<body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'apps.reddit.views.index' %}">Boarddit</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/admin/">Admin</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                  <li><a href="#"><strong>{{ user }}</strong></a></li>
                  <li><a href="{% url 'logout' %}">Выйти</a></li>
              {% else %}
                  <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                  <li><a href="{% url 'login' %}">Войти</a></li>
              {% endif %}
          </ul>
        </div><!--/.container-fluid -->
      </nav>

    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
