{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}MIPT board{% endblock %}

{% block header %}
        <h1>БОРДАААА</h1>
        {% for thread in threads%}
        <h2>{{ thread.title }}</h2>
        {% recursetree nodes %}
        {% if node.thread == thread %}
            <li>
                {{ node.text }}<br><strong>{{ node.author }}</strong>
                <ul class="children">
                    {{ children }}
                </ul>
            </li>
        {% endif %}
        {% endrecursetree %}
        {% endfor %}
{% endblock %}

{% block content %}

{% endblock %}
