{% extends "base_subreddit.html" %}
{% load mptt_tags %}
{% load comment_align %}
{% load bootstrap3 %}

{% block title %}Boarddit - {{ thread.title }}{% endblock %}

{% block inner_content %}
    <div class="page-header">
        <div class="row">
            <div class="col-lg-1 text-center vote-section" data-update-url="{{ thread.vote_url }}">
                <h3>
                <a href="#" class="btn btn-link btn-xs {% if not user.is_authenticated or user in thread.voters.all %}disabled{% endif %} vote-up-thread">{% bootstrap_icon "chevron-up" %}</span></a><br>

                <span class="vote-number">{{ thread.voters.all.count }}</span><br>

                <a href="#" class="btn btn-link btn-xs {% if not user.is_authenticated or user not in thread.voters.all %}disabled{% endif %} vote-down-thread">{% bootstrap_icon "chevron-down" %}</a>
                </h3>
            </div>
            <div class="col-lg-11">
            <h1>
                {% if thread.url %}
                <a href="{{ thread.real_url }}">{{ thread.title }}</a>
                {% else %}
                {{ thread.title }}
                {% endif %}
            </h1>
            <span class="text-muted">Создан {{ thread.created_on }} пользователем <a href="{% url 'user_profile' thread.author.get_username %}">{{ thread.author.get_username }}</a></span>
            </div>
        </div>

        {% if not root_comment %}
        <p style="margin-top: 2em;">{{ thread.text|urlize|linebreaks }}</p>
        {% endif %}
    </div>

    {% if root_comment %}
    <a href="{% url 'show_thread' current_subreddit.id current_subreddit.slug thread.id thread.slug %}">вернуться к посту</a>
    {% else %}
    <div class="row" id="root_comment_submit"></div>
    {% endif %}


    {% recursetree nodes %}
    {% if node.thread == thread %}
        {% if root_comment and root_comment in node.get_descendants %}
        {{ children }}  {# silently iterate over root_comment parents #}
        {% else %} {# normal comment display #}
            {% if node.get_ancestors|length < comment_level %}
            <div class="row comment-row">
                <div class="col-lg-offset-{{ node.comment_level|comment_offset:max_level }} col-lg-{{ node.comment_level|comment:max_level }} comment-area" id="{{ node.id }}">
                    <p>{{ node.text|urlize|linebreaksbr }}</p>

                    <span class="vote-section" style="margin-right: 0.5em;" data-update-url="{{ node.vote_url }}">
                        <span>
                            <a href="#" class="btn btn-link btn-xs {% if not user.is_authenticated or user in node.voters.all %}disabled{% endif %} vote-up-comment">{% bootstrap_icon "chevron-up" %}</a>
                            <span class="vote-number">{{ node.voters.all.count }}</span>
                            <a href="#" class="btn btn-link btn-xs {% if not user.is_authenticated or user not in node.voters.all %}disabled{% endif %} vote-down-comment">{% bootstrap_icon "chevron-down" %}</a>
                        </span>
                    </span>

                    от <strong>{{ node.author }}</strong> {{ node.created_on }}
                    <span class="comment-links"><a class="comment_reply" href="#">ответить</a></span>
                    <span class="comment-links"><a href="{% url 'comment_tree' current_subreddit.id current_subreddit.slug thread.id thread.slug node.id %}">показать ветку</a></span>
                </div>
            </div>
            {{ children }}

            {% elif node.get_ancestors|length == comment_level %}
            <div class="row">
                <div class="col-lg-offset-{{ comment_level|comment_notice_offset:max_level }} col-lg-{{ comment_level|comment_notice:max_level }}"><a href="{% url 'comment_tree' current_subreddit.id current_subreddit.slug thread.id thread.slug node.id %}">Показать скрытую ветку</a></div>
            </div>
            {% else %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% endrecursetree %}

    <script>
        $(document).ready(function() {
            init_thread_voting();
            init_comment_voting();

            var reply_form = '<div class="reply-form">' +
                '<textarea class="form-control"></textarea><br>' +
                '<button class="btn btn-primary">Отправить</button>' +
                '</div>';
            var loading_msg = '<div class="bg-info">Loading...</div>';
            var post_url = '{{ thread.permalink|escapejs }}';

            function process_reply(parent_div) {
                var reply_div = parent_div.children('div.reply-form');

                // send reply
                reply_div.children('button').click(function() {
                    var comment_text = reply_div.children('textarea').val();
                    var parent_id;
                    if(parent_div.attr('class') == 'root-comment') {
                        parent_id = 0;
                    }
                    else {
                        parent_id = parent_div.attr('id');
                    }

                    $.post(post_url,
                           {
                               text: comment_text,
                               ancestor: parent_id
                           },
                           function(data, status) {
                               if(status != 'success') {
                                   alert('Ошибка при отправке комментария!');
                               }
                               else {
                                   reply_div.remove();
                                   parent_div.append(loading_msg);
                                   window.location.reload(true);
                               }
                           });
                });
            }

            {% if not root_comment %}
            // Root comments
            $("div#root_comment_submit").append('<div class="root-comment"><h4>Прокомментировать</h4>' + reply_form + '</div>');
            process_reply($("div.root-comment"));
            {% endif %}

            // Replies to comments
            $("a.comment_reply").click(function() {
                var parent_div = $(this).parent().parent();

                if(parent_div.children('div.reply-form').length > 0) {
                    parent_div.children('div.reply-form').remove();
                }
                else {
                    parent_div.append(reply_form);
                    process_reply(parent_div);
                }
            });
        })
    </script>
{% endblock %}
