{% extends "base_subreddit.html" %}
{% load humanize %}

{% block title %}
Boarddit{% if current_subreddit %} - {{ current_subreddit.title }}{% endif %}
{% endblock %}

{% block inner_content %}
    {% for thread in threads reversed %}
    <div class="row thread-list-spacings">
        <h2>
            <a href="{{ thread.real_url }}">{{ thread.title }}</a><br>
            {% if not current_subreddit %}
            <small>в сообществе <a href="{% url 'show_subreddit' thread.subreddit.id thread.subreddit.slug %}">"{{ thread.subreddit.title }}"</a></small>
            {% endif %}
        </h2>
        <a href="{{ thread.permalink }}">Комментариев: {{ thread.get_comment_number }}</a>,
        создан {{ thread.created_on|naturaltime }}
        пользователем <a href="{% url 'user_profile' thread.author.get_username %}">{{ thread.author }}</a>
    </div>
    {% endfor %}
{% endblock %}
