{% extends "base_with_sidemenu.html" %}
{% load mptt_tags %}

{% block title %}MIPT board{% endblock %}

{% block sidecontent %}
    <div class="page-header">
        <h1>{{ thread.title }}</h1>
        <span class="text-muted">Создан {{ thread.created_on }} пользователем {{ thread.author.get_username }}</span>

        <p style="margin-top: 2em;">{{ thread.text }}</p>
    </div>

    {% recursetree nodes %}
    {% if node.thread == thread %}
        <li>
            {{ node.text }}<br><strong>{{ node.author }}</strong>
            <ul class="children">
                {{ children }}
            </ul>
        </li>
    {% endif %}
    {% endrecursetree %}
{% endblock %}
